*{
    margin: 0%;
}
.box{
    background-color: blueviolet;
    height: 50px;
    width: 200px;
    box-shadow: 5px 3px 9px black;
    padding-left: 2px;
    transition: transform 1s ease-in-out 0s,
    background-color 2ms ease-in-out 2ms; 
  
}
.box:hover{
    transform: translateX(125px);
}
.container{
    margin-left: -125px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}
h3{
    padding-top: 15px;
    padding-left: 20px;
    color: white;

}
img{
    margin-left: 140px;
    position: relative;
    top: -30px;
    height: 40px;

}